{% extends 'templates/admin.twig' %}

{% block title %}All User List - {% endblock %}

{% block pageheader %}All User List{% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-body">
        <table class="table table-bordered table-striped">
            <tr>
                <th>User</th>
                <th>Email</th>
                <th style="width: 40px">Edit</th>
                <th style="width: 40px">Delete</th>
            </tr>
            {% for user in user %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center"><a href="{{ user.id }}/edit"><i class="fa fa-pencil"></i></a></td>
                    <td class="text-center"><a href="{{ user.id }}/delete"><i class="fa fa-trash"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
{% endblock %}
