{% extends 'templates/blog.twig' %}

{% block title %}Home | {% endblock %}

{% block pageheader %} Read post article {% endblock %}

{% block content %}
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ path_for('post.read', {('id'):article.id}) }}">{{ article.title }}</a></h4>
                <i class="fa fa-user"> <a href="">{{ article.user_id }}</a></i>
                <p class="text-justify">{{ article.content }}</p>
            </div>
        </div>
{% endblock %}
