<!-- user -->
<li class="treeview">
  <a href="#"><i class="fa fa-user"></i> <span>User</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="{{ path_for('user.list') }}">List</a></li>
    <li><a href="{{ path_for('user.add') }}">Add</a></li>
    <li><a href="{{ path_for('user.trash') }}">Trash</a></li>
  </ul>
</li>
